


/*-- Chart --*/

.c3 svg {
  font-size: 14px;
}
.c3 path, .c3 line {
  fill: none;
  stroke:#c7c7cc;
}

.c3-axis-y {
  path, line {
    //stroke:rgba(0,0,0,0);
  }
}
.c3 text {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.c3-legend-item-tile,
.c3-xgrid-focus,
.c3-ygrid,
.c3-event-rect,
.c3-bars path {
  shape-rendering: crispEdges;
}

.c3-chart-arc path {
  stroke: rgba(255,255,255,.5);
  stroke-width: 1px;


}
.c3-chart-arc text {
  fill: #fff;
  font-size: 14px;
}

/*-- Axis --*/

.c3-axis-x .tick {

  line {
    stroke:rgba(0,0,0,0) !important;
  }
}
.c3-axis-x-label {
}

.c3-axis-y .tick {
}
.c3-axis-y-label {
}

.c3-axis-y2 .tick {
}
.c3-axis-y2-label {
}


.c3-axis {
  text {
    fill:#84878C;
  }
}

/*-- Grid --*/

.c3-grid line {
  stroke: #e5e5e5;
}
.c3-grid text {
  fill: #687d91;
}
.c3-xgrid, .c3-ygrid {
  //stroke-dasharray: 3 3;
}
.c3-xgrid-focus {
}

/*-- Text on Chart --*/

.c3-text {
  fill: #bdbdbd;
}

.c3-text.c3-empty {
  fill: #bdbdbd;
  font-size: 2em;
}

/*-- Line --*/

.c3-line {
  stroke-width: 2px;
}
/*-- Point --*/

.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white;
}
.c3-selected-circle {
  fill: white;
  stroke-width: 2px;
}

/*-- Bar --*/

.c3-bar {
  stroke-width: 0;
}
.c3-bar._expanded_ {
  fill-opacity: 0.75;
}

/*-- Arc --*/

.c3-chart-arcs-title {
  font-size: 1.3em;
}

/*-- Focus --*/

.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px;

}

/*-- Region --*/

.c3-region {
  fill: steelblue;
  fill-opacity: .1;
}

/*-- Brush --*/

.c3-brush .extent {
  fill-opacity: .1;
}

/*-- Select - Drag --*/

.c3-dragarea {
}

/*-- Legend --*/

.c3-legend-item {
  font-size: 14px;
  fill:#4a4a4a;
  font-family: Arial, Sans-serif;

}

.c3-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1
}

.c3-legend-item-tile {
    shape-rendering: initial;
}

/*-- Tooltip --*/

.c3-tooltip {
  border-collapse:collapse;
  border-spacing:0;
  background-color:rgba(43,61,81,0.9);
  empty-cells:show;
  border-radius: .2rem;
  font-family: Arial, Sans-serif;
  color: #f3f4f5;
  -webkit-font-smoothing:antialised;
}
.c3-tooltip tr {
  border:0;
  border-radius: .2rem .2rem 0 0;


  &:last-of-type {
    td {
      padding-bottom:.4rem;
    }
  }
  
}
.c3-tooltip th {
  
  font-size:1.1rem;
  padding:.2rem .6rem;
  text-align:left;
  font-weight: 500;
  color:#e6e9ed;
  border-bottom: solid .1rem rgba(243,244,245,.08);
}
.c3-tooltip td {
  font-size:1.1rem;
  padding: .2rem .6rem;
  border:0;
  color:#e6e9ed;



}
.c3-tooltip td > span {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  margin:.1rem .6rem .1rem 0;
}
.c3-tooltip td.value{
  text-align: right;
}

.c3-area {
  stroke-width: 0;
  opacity: 0.2;
}

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none;
}
.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px;
}
.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777;
}
.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777;
}

.c3-chart-arc .c3-gauge-value {
  fill: #333;
  font-size: 2.4rem;
  font-weight:700;
}






.gps_ring {
  border: .1rem solid #e0e0e0;
  border-radius: 50%;
  height: 16rem;
  width: 16rem;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 2s ease-out;
  -moz-animation-iteration-count: infinite;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0;
  z-index: 0;
}

@-webkit-keyframes pulsate{
  0% {
    -webkit-transform:scale(0.1, 0.1);
    opacity:0.0
  }
  62%{
    opacity:.8
  }
  100%{
    -webkit-transform:scale(3, 3);
    opacity:0
  }
}


.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}


.leaflet-center {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.leaflet-control-geosearch, .leaflet-control-geosearch ul {
  border-radius: 7px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
  margin: 10px 0 0 0;
  padding: 5px;
  width: 100%;
  height: auto;
}
.leaflet-control-geosearch-msg ul {
  list-style: none;
  display: none;
  height: auto;
  background: none;
  padding: 0;
}
.leaflet-control-geosearch ul li {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    margin: 2px 0;
    padding: 4px;
    font: 12px arial;
    text-indent: 4px;
}
.leaflet-container .leaflet-control-geosearch input {
  width: 100%;
  height: 28px;
  padding: 0;
  text-indent: 8px;
  background: rgba(255, 255, 255, 0.75);      
  border-radius: 4px;
  border: none;
}

