


.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/**
 * Grid helper
 */

.row {
    @extend .clearfix;
    margin:0 -.6rem;
}

.col {

    float:left;
    padding:0 .6rem;
    
    &--2a {width: 20%}
    &--12{width:100%}
    &--11{width:91.66666666666666%}
    &--10{width:83.33333333333334%}
    &--9{width:75%}
    &--8{width:66.66666666666666%}
    &--7{width:58.333333333333336%}
    &--6{width:50%}
    &--5{width:41.66666666666667%}
    &--4{width:33.33333333333333%}
    &--3{width:25%}
    &--2{width:16.666666666666664%}
    &--1{width:8.333333333333332%}
}

.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

.container {
  @extend .clearfix;
    width: 100%;
    max-width:102.4rem;
    margin:0 auto;
    position: relative;
    padding:0 1.2rem;
}




.table-wrapper {
    overflow-x:auto;
}


.table {
    width: 100%;
    margin:0 0 2.4rem;
    th {
        text-align: left;
        padding:.8rem 1.2rem;
        border-bottom: solid .1rem #e5e5e5;

    }

    td {
        padding:.8rem 1.2rem;
        border-bottom: solid .1rem #eee;
        vertical-align: top;

        input[type="checkbox"], input[type="radio"] {
            display: block;
        }
    }

    tr:last-of-type {
        td {
            border:0;
        }
    }
}



.breadcrumb {
    list-style: none;
    margin:0;
    padding:0;

    @extend .clearfix;


    li {
        float: left;
        margin:0 .8rem 0 0;
        a {
            display: block;
            list-style: 2rem;
            color:#777;
            font-size: 1.4rem;
            padding:0 .8rem 0 0;
            position: relative;
            text-decoration: none !important;

            svg {
                width: 2rem;
                height: 2rem;
                display: block;
                float: left;
                margin:0 .8rem 0 0;
            }
        
            &:after {
                content: "»";
                position: absolute;
                right: -.4rem;
                color: #c7c7cc;
            }

            &:hover,&:focus {
                color: #1ca8dd;
            }
        }

        &:last-of-type {
            a {
                &:after {
                    display:none;
                }
            }
        }

    }
}


.pagination {
    
    border-top:solid .1rem #e5e5e5; 



    ul {
        list-style: none;
    margin:0 auto;
    padding:0;
    text-align: right;
    display: table;

    text-align:center;
    }

    li {
        display: table-cell;
        vertical-align: middle;
        a {
            display: block;
            padding:0 .8rem;
            line-height: 4rem;
            position: relative;
            margin:0 0 0 .2rem;
            text-align: center;
            min-width: 4.8rem;
            text-decoration: none !important;
            position: relative;
            color: #777;


            &:after {
                content:"";
                position: absolute;
                top:-.1rem;
                right: 15%;
                left: 15%;
                height: .2rem;
            }


            

            svg {
                display: block;
                width: 2.2rem;
                height: 2.2rem;
                margin:0 -.4rem;
            }

            &:hover,&:focus {
                color:#333;
                &:after {
                    background:#4a4a4a;
                }
            }

        }

        span {
            display: block;
            padding:0 1.6rem;
            line-height: 4rem;
            position: relative;
            color:#c7c7cc;

        }


        &.active {
            a {
                background: rgba(0,0,0,0) !important;
                cursor: default !important;
                color: #1ca8dd;

                &:after {
                        background:#1ca8dd;
                }
            }
        }
    }

}





.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;

  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: .1rem solid #999;
  border: .1rem solid rgba(0, 0, 0, .04);
  border-radius: .4rem;
  outline: 0;
    box-shadow: 0 .2rem .6rem rgba(0, 0, 0, .24);

}
.modal-content {
  position: relative;
  
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #2b2b2b;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 1.6rem 2.4rem;
  border-bottom: .1rem solid #eee;
}

.modal-subheader {
    font-size: 1.4rem;
    margin:1.6rem 0;
    padding:1.2rem 0 .4rem;
    border-bottom: solid .1rem #eee;
    font-weight:400;
    font-size: 1.6rem;
}
.modal-header .close {
  margin-top: -1.2rem;
  margin-right: -.8rem;
}
.modal-title {
  margin: 0;
  font-size: 1.8rem;
}
.modal-body {
  position: relative;
  padding: 2.4rem;
}
.modal-footer {
  padding: 1.6rem 2.4rem;
  text-align: right;
  border-top: .1rem solid #e5e5e5;

  .btn {
    min-width: 8.8rem;
  }
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: .4rem;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -.1rem;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -999rem;
  width: 5rem;
  height: 5rem;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 64rem;
    margin: 5.4rem auto;
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}



.tooltip{position:absolute;z-index:1070;display:block;font-size:1.2rem;line-height:1.4;visibility:visible;filter:alpha(opacity=0);opacity:0;color:#c7c7cc}.tooltip.in{filter:alpha(opacity=80);opacity:.8}.tooltip.top{padding:.4rem 0;margin-top:-0.3rem}.tooltip.right{padding:0 .5rem;margin-left:.3rem}.tooltip.bottom{padding:.5rem 0;margin-top:.3rem}.tooltip.left{padding:0 .5rem;margin-left:-0.3rem}.tooltip-inner{max-width:20rem;padding:.4rem .8rem;color:#fff;text-align:center;text-decoration:none;background-color:#000;white-space:nowrap;border-radius:.3rem;-webkit-font-smoothing:antialaised}.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-0.5rem;border-width:.5rem .5rem 0;border-top-color:#000}.tooltip.top-left .tooltip-arrow{right:.5rem;bottom:0;margin-bottom:-0.5rem;border-width:.5rem .5rem 0;border-top-color:#000}.tooltip.top-right .tooltip-arrow{bottom:0;left:.5rem;margin-bottom:-0.5rem;border-width:.5rem .5rem 0;border-top-color:#000}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:.5rem .5rem .5rem 0;border-right-color:#000}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-0.5rem;border-width:.5rem 0 .5rem .5rem;border-left-color:#000}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-0.5rem;border-width:0 .5rem .5rem;border-bottom-color:#000}.tooltip.bottom-left .tooltip-arrow{top:0;right:.5rem;margin-top:-0.5rem;border-width:0 .5rem .5rem;border-bottom-color:#000}.tooltip.bottom-right .tooltip-arrow{top:0;left:.5rem;margin-top:-0.5rem;border-width:0 .5rem .5rem;border-bottom-color:#000}